<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">

<head>
  <title>Base</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="" th:href="@{/CSS/style.css}">

</head>

<body class="body">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- <script src="/path/to/cdn/jquery.min.js"></script>
  <script src="/path/to/alert.js"></script> -->


  <script>
    function delete_contact(cid) {
      swal({
        title: "Are you sure?",
        text: "You want delete this contact",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            window.location = "/user/delete/" + cid;
          } else {
            swal("Your contact is safe");
          }
        });
    }
    function update_form() {
      swal({
        title: "Are you sure?",
        text: "Do you want update this contact",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            window.location = "/user/update-contact/" + cid;
          } else {
            swal("Your contact is not update");
          }
        });
    }

    function myfun(content){
      alert(content);
    }

  </script>

  <script th:inline="javascript">
    /*<![CDATA[*/
   
    var isInlineEdit = [[${ session.message } != null ? true : false]];
    if (isInlineEdit) {
      swal({
        title: "Contact!",
        text: "Your contact is added!",
        icon: "success",
        button: "Aww yiss!",
      });
    }else{
      // alert("hello");
      // Toast.create("Voila!", "How easy was that?", TOAST_STATUS.SUCCESS, 5000);
    }
  /*]]>*/
  </script>
  <script th:src="@{/javascript/script.js}">



  </script>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand text-white" href="#">Smart Contact Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-uppercase">
        <li class="nav-item">
          <a class="nav-link text-white" id="nav_ul" href="#" th:href="@{/}">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-white" href="#" th:href="@{/signin}">Login</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link text-white" href="#" th:href="@{/logout}">Logout</a>
        </li> 
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
    </div>
  </nav>

  <!-- sidebar -->
  <div class="sidebar mt-2">


    <span class="crossBtn" onclick="toggleSidebar()">&times;</span>
    <a id="home-link" href="#" th:href="@{/user/index}" class="item active"><i class="fa-solid fa-house-chimney mr-1"></i>Home</a>
    <a id="contacts-link" href="#" th:href="@{/user/show-contacts/0}" class="item"><i class="fa-solid fa-id-card-clip mr-1"></i>View
      Contacts</a>
    <a id="add-link" href="#" th:href="@{/user/add-contact}" class="item"><i class="fa-solid fa-pen mr-1"></i>Add Contact</a>
    <a id="profile-link" href="#" th:href="@{/user/profile}" class="item"><i class="fa-solid fa-address-card mr-1"></i>Your Profile</a>
    <a id="setting-link" href="#" th:href="@{/user/settings}" class="item"><i class="fa-solid fa-gear mr-1"></i>Setting</a>
    <a href="#" th:href="@{/logout}" class="item"><i class="fa-solid fa-right-from-bracket mr-1"></i>Logout</a>
    <div class="divider"></div>

    <!-- end sidebar -->

  </div>
  <!-- content area -->
  <div class="content mt-5">
    <i onclick="toggleSidebar()" class="fas fa-bars m-3"></i>
    <!-- message box -->
    <div th:if="${session.message}" class="container">
      <div th:classappend="${'alert-'+session.message.type}" class="alert text-center" role="alert">
        <span th:text="${session.message.content}"></span>
      </div>
      <th:block th:text="${#session.removeAttribute('message')}"></th:block>
    </div>
    <div th:replace="${content}"></div>
  </div>
  <!-- end content area -->
  
</body>

</html>