<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <div class="row text-center">
                <div class="col-md-8">
                    <h1 class="display-3">Smart Contact Manager</h1>
                    <h3>Here you can add so many contact details and easy to use application and in fature we are
                        providing the business realted information store</h3>
                    <button class="btn btn-primary bg-lg">Get Start</button>
                </div>
            </div>
        </div>
    </section>
</body>

</html>