<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="base::Layout(~{::section})">
  <head>
    <title>signup</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="my-card mt-3 shadow p-3 mb-5 bg-white rounded">
              <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                <p class="text-center" th:text="${session.message.content}"></p>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
              </div>
              <div class="container text-center">
                <img src="" width="15%" th:src="@{/image/singup.jpg}" alt="">
              </div>
              <h1 class="text-center">Register Here!!</h1>
              <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
              
                <!-- Name Field -->
                <div class="form-group">
                  <label for="name_feild">Your Name</label>
                  <input type="text" name="name" class="form-control" 
                  th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" id=name_feild
                  placeholder="Enter here" required th:value="${user.name}">
                </div>
                <div th:each="e : ${#fields.errors('name')}" th:text="${e}" class="invalid-feedback">
                </div>

                <!-- Email Field -->
                <div class="form-group">
                  <label for="email_feild">Your Email</label>
                  <input type="email" name="email" class="form-control" id=email_feild placeholder="Enter here" required th:value="${user.email}">
                </div>

                <!-- password Field -->
                <div class="form-group">
                  <label for="password_feild">Your Password</label>
                  <input type="password" name="password" class="form-control" id=password_feild placeholder="Enter here" required>
                </div>

                <!-- user about field -->
                <div class="form-group">
                  <textarea name="about" placeholder="Enter something yourself" class="form-control" id="exampleFormControlTextarea1" rows="3" th:value="${user.about}"></textarea>
                </div>

                <!-- Term and condition for ageement -->
                <div class="form-group form-check">
                  <input type="checkbox" name="agreement" class="form-check-input" id="agreed_field">
                  <label for="agreed_field">Accept Terms and condition</label>
                </div>

                <div class="container text-center">
                  <button class="btn btn-primary" type="submit">Submit</button>
                  <button class="btn btn-danger" type="reset">Reset</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>